<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.AppluadMapper">

    <select id="queryAppluads" resultType="com.xbb.pojo.Appluad">
        select comment_id,status from appluad
        where article_id = #{article_id}
        and user_id = #{user_id}
    </select>

    <select id="queryIsAppluad" resultType="com.xbb.pojo.Appluad">
        select comment_id,status from appluad
        where comment_id = #{comment_id} and user_id = #{user_id}
    </select>

    <insert id="add" parameterType="com.xbb.pojo.Article" useGeneratedKeys="true" keyProperty="id">
        insert into appluad (`user_id`,`status`,`comment_id`,`article_id`)
        values (#{user_id},#{status},#{comment_id},#{article_id})
    </insert>

    <update id="upAppluadStatus">
         update appluad set status = #{status} where comment_id = #{comment_id} and user_id = #{user_id}
    </update>

</mapper>