<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.AppluadMapper">

    <insert id="add" parameterType="com.xbb.pojo.Article" useGeneratedKeys="true" keyProperty="id">
        insert into appluad (`user_id`,`status`,`comment_id`,`article_id`)
        values (#{userId},#{status},#{commentId},#{articleId})
    </insert>

    <delete id="remove">
         delete from appluad where comment_id = #{commentId} and user_id = #{userId}
    </delete>

</mapper>