<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.ArticleMapper">

    <resultMap id="resultArticleMap" type="com.xbb.pojo.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="read_count" column="read_count"/>
        <result property="issue_time" column="issue_time"/>
        <result property="user_id" column="user_id"/>
        <result property="synopsis" column="synopsis"/>
        <result property="original" column="original"/>
        <result property="content" column="content"/>
        <association property="user" javaType="com.xbb.pojo.User">
            <result property="head_portrait" column="head_portrait"/>
            <result property="username" column="username"/>
            <result property="original_count" column="original_count"/>
            <result property="fans_count" column="fans_count"/>
            <result property="sex" column="sex"/>
            <result property="follow_count" column="follow_count"/>
        </association>
    </resultMap>

    <select id="queryArticleList" resultMap="resultArticleMap">
      SELECT
      t1.id, t1.title, t1.read_count, t1.issue_time, t1.user_id, t1.synopsis,t1.original,t1.content,
      t2.head_portrait, t2.username, t2.original_count, t2.fans_count, t2.sex, t2.follow_count
      FROM `article` t1,`user` t2,`programa` t3
      <where>
          and t1.programa_id = #{programa_id}
          and t3.id = t1.programa_id
          and t1.user_id = t2.id
      </where>
      order by id desc
    </select>

    <select id="queryArticleUser" resultMap="resultArticleMap">
        SELECT
        t1.id, t1.title, t1.read_count, t1.issue_time, t1.user_id, t1.synopsis,t1.original,t1.content,
        t2.head_portrait, t2.username, t2.original_count, t2.fans_count, t2.sex, t2.follow_count
        FROM `article` t1,`user` t2
        where t1.id = #{article_id}
        and t1.user_id = t2.id
    </select>

    <select id="queryUserArticles" resultType="com.xbb.pojo.Article">
        select id,title,issue_time,read_count,stick,synopsis,content,original from article
        where user_id = #{userId}
        order by stick desc,id desc
    </select>

    <select id="queryByIdArticle" resultType="com.xbb.pojo.Article">
        select id,title,content,programa_id from article
        where id = #{id}
    </select>

    <select id="findArticles" resultMap="resultArticleMap">
        SELECT
        t1.id, t1.title, t1.read_count, t1.issue_time, t1.user_id, t1.synopsis,t1.original,t1.content,
        t2.head_portrait, t2.username, t2.original_count, t2.fans_count, t2.sex, t2.follow_count
        FROM `article` t1,`user` t2
        where t1.title like concat(concat('%',#{antistop}),'%')
        and t1.user_id = t2.id
    </select>

    <select id="findUserArticles" resultType="com.xbb.pojo.Article">
        select id,title,content,issue_time,stick,read_count from article
        where title like concat(concat('%',#{antistop}),'%')
        and user_id = #{userId}
    </select>

    <insert id="add" parameterType="com.xbb.pojo.Article" useGeneratedKeys="true" keyProperty="id">
        insert into `article`
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="title != null and title != ''">,title</if>
            <if test="content != null and content != ''">,content</if>
            <if test="synopsis != null and synopsis != ''">,synopsis</if>
            <if test="user_id != null and user_id != 0">,user_id</if>
            <if test="programa_id != null and programa_id != 0">,programa_id</if>
            <if test="original != null">,original</if>
            <if test="issue_time != null">,issue_time</if>
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="title != null and title != ''">,#{title}</if>
            <if test="content != null and content != ''">,#{content}</if>
            <if test="synopsis != null and synopsis != ''">,#{synopsis}</if>
            <if test="user_id != null and user_id != 0">,#{user_id}</if>
            <if test="programa_id != null and programa_id != 0">,#{programa_id}</if>
            <if test="original != null">,#{original}</if>
            <if test="issue_time != null">,#{issue_time}</if>
        </trim>
    </insert>

    <update id="readCountPlus">
        update article set read_count = read_count+1 where id = #{article_id}
    </update>

    <delete id="removeById">
        delete from article
        where id = #{articleId}
    </delete>

    <update id="updateArticle" parameterType="com.xbb.pojo.Article">
        update article
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">title=#{title},</if>
            <if test="content != null and content != ''">content=#{content},</if>
            <if test="synopsis != null and synopsis != ''">synopsis=#{synopsis},</if>
            <if test="issue_time != null">issue_time=#{issue_time},</if>
            <if test="programa_id != 0">programa_id=#{programa_id},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="queryHotArticle" resultType="com.xbb.pojo.Article">
        select id,title,read_count from article where user_id = #{id}
        order by read_count desc limit 5
    </select>

    <select id="queryArticleReferral" resultMap="resultArticleMap">
        select t1.id,t1.title,t1.user_id,t2.head_portrait
        from article t1,user t2
        where t1.read_count > 200
        and t1.programa_id = #{id}
        and t1.user_id = t2.id
        order by t1.read_count desc limit 15
    </select>

    <select id="queryIsOriginal" resultType="java.lang.Boolean">
        select original from article where id = #{articleId}
    </select>

    <update id="updateStick">
        update article set stick = #{stick}
        where id = #{id}
    </update>

</mapper>