<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.AttentionMapper">

    <select id="queryFollow" resultType="com.xbb.pojo.User">
        select t2.id,t2.username,t2.head_portrait
        from `attention` t1, `user` t2
        where t1.fans_id = #{fans_id} and t2.id = follow_id
    </select>

    <select id="queryFans" resultType="com.xbb.pojo.User">
        select t2.id,t2.username,t2.head_portrait
        from `attention` t1, `user` t2
        where t1.follow_id = #{follow_id} and t2.id = fans_id
    </select>

    <select id="findIsFollow" resultType="java.lang.Integer">
        select count(id) from attention
        where fans_id = #{fans_id} and follow_id = #{follow_id}
    </select>

    <insert id="addFollow">
        insert into attention(fans_id,follow_id)
        values(#{fans_id},#{follow_id})
    </insert>

    <delete id="delectFollow">
        delete from `attention`
        where fans_id = #{fans_id} and follow_id = #{follow_id}
    </delete>
</mapper>

