<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.AttentionMapper">

    <insert id="add">
        insert into attention(fans_id,follow_id)
        values(#{fansId},#{followId})
    </insert>

    <delete id="remove">
        delete from `attention`
        where fans_id = #{fansId} and follow_id = #{followId}
    </delete>

    <select id="queryFollowAll" resultType="com.xbb.pojo.User">
        select t2.id,t2.username,t2.head_portrait
        from `attention` t1, `user` t2
        where t1.fans_id = #{fansId} and t2.id = follow_id
    </select>

    <select id="queryFansAll" resultType="com.xbb.pojo.User">
        select t2.id,t2.username,t2.head_portrait
        from `attention` t1, `user` t2
        where t1.follow_id = #{followId} and t2.id = fans_id
    </select>

</mapper>

