<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.CollectMapper">

    <select id="queryCollectList" resultType="com.xbb.pojo.Article">
        select t2.id,t2.title from `collect` t1,`article` t2
        where t1.user_id = #{id} and t2.id = t1.article_id
    </select>

    <select id="findIsCollect" resultType="java.lang.Integer">
        select count(article_id) from `collect`
        where user_id = #{userId} and article_id = #{articleId}
    </select>

    <insert id="collectAdd">
        insert into `collect` (`user_id`,`article_id`)
        values (#{userId},#{articleId})
    </insert>

    <delete id="collectRemove">
        delete from `collect`
        where user_id = #{userId}
        and article_id = #{articleId}
    </delete>
</mapper>