<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.CommentMapper">

    <resultMap id="resultCommentMap" type="com.xbb.pojo.Comment">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="comment" column="comment"/>
        <result property="reply_count" column="reply_count"/>
        <result property="appluad_count" column="appluad_count"/>
        <result property="comment_time" column="comment_time"/>
        <association property="user" javaType="com.xbb.pojo.User">
            <result property="username" column="username"/>
            <result property="head_portrait" column="head_portrait"/>
        </association>
    </resultMap>

    <select id="commentList" resultMap="resultCommentMap">
        select t1.id,t1.user_id,t1.comment,t1.reply_count,t1.comment_time,t1.appluad_count,
        t2.username,t2.head_portrait
        from `comment` t1, `user` t2
        <where>
            and t1.article_id = #{article_id}
            and t1.user_id = t2.id
        </where>
        order by t1.id desc
    </select>

    <insert id="add">
        insert into comment(`article_id`,`user_id`,`comment`,`comment_time`)
        values(#{article_id},#{user_id},#{comment},#{comment_time})
    </insert>

    <update id="replyCountPlus">
        update comment set reply_count = reply_count+1 where id = #{comment_id}
    </update>
    <update id="replyCountMinus">
        update comment set reply_count = reply_count-1 where id = #{comment_id}
    </update>

    <update id="appluadCountPlus">
        update comment set appluad_count = appluad_count+1 where id = #{comment_id}
    </update>
    <update id="appluadCountMinus">
        update comment set appluad_count = appluad_count-1 where id = #{comment_id}
    </update>
</mapper>