<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.LeaveMapper">

    <select id="queryLeaveList" resultType="com.xbb.pojo.Leave">
        select t1.id,t1.content,t1.leave_time,t2.username,t2.head_portrait
        from `leave` t1, `user` t2
        where t1.`id` > #{id} AND t1.`user_id` = t2.`id`
        order by id asc limit 30
    </select>

    <select id="getLeaveById" resultType="com.xbb.pojo.Leave">
        select t1.id,t1.content,t1.leave_time,t2.username,t2.head_portrait
        from `leave` t1, `user` t2
        where t1.id = #{id} AND t1.`user_id` = t2.`id`
    </select>

    <insert id="add" parameterType="com.xbb.pojo.Leave" useGeneratedKeys="true" keyProperty="id">
        insert into `leave` (`user_id`,`content`,`leave_time`)
        values (#{user_id},#{content},#{leave_time})
    </insert>
</mapper>