<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--    绑定Mapper接口   -->
<mapper namespace="com.xbb.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into `user`
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="username != null and username != ''">,username</if>
            <if test="password != null and password != ''">,password</if>
            <if test="mailbox != null and mailbox != ''">,mailbox</if>
            <if test="cellphone != null and cellphone != ''">,cellphone</if>
            <if test="register_time != null">,register_time</if>
            <if test="sex != null">,sex</if>
            <if test="pas != null">,pas</if>
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="username != null and username != ''">,#{username}</if>
            <if test="password != null and password != ''">,#{password}</if>
            <if test="mailbox != null and mailbox != ''">,#{mailbox}</if>
            <if test="cellphone != null and cellphone != ''">,#{cellphone}</if>
            <if test="register_time != null">,#{register_time}</if>
            <if test="sex != null">,#{sex}</if>
            <if test="pas != null">,#{pas}</if>
        </trim>
    </insert>

    <select id="findByUsername" resultType="com.xbb.pojo.User">
        select * from `user` where username = #{username}
    </select>

    <select id="queryById" resultType="com.xbb.pojo.User">
        select * from `user` where id = #{id}
    </select>

    <resultMap id="resultUserArticlesMap" type="com.xbb.pojo.User">
        <id property="id" column="uid"/>
        <result property="head_portrait" column="head_portrait"/>
        <result property="username" column="username"/>
        <result property="original_count" column="original_count"/>
        <result property="fans_count" column="fans_count"/>
        <result property="sex" column="sex"/>
        <result property="follow_count" column="follow_count"/>
        <result property="visit_count" column="visit_count"/>
        <result property="theme_photo" column="theme_photo"/>
        <result property="data_photo" column="data_photo"/>
        <result property="signature" column="signature"/>
        <collection property="articles" ofType="com.xbb.pojo.Article">
            <id property="id" column="aid"/>
            <result property="title" column="title"/>
            <result property="read_count" column="read_count"/>
            <result property="issue_time" column="issue_time"/>
            <result property="synopsis" column="synopsis"/>
            <result property="original" column="original"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>

    <select id="queryUserArticles" resultMap="resultUserArticlesMap">
        SELECT
        t1.id aid, t1.title, t1.read_count, t1.issue_time,t1.synopsis,t1.original,t1.content,
        t2.id uid, t2.head_portrait, t2.username, t2.original_count, t2.fans_count, t2.sex, t2.follow_count,
        t2.visit_count, t2.theme_photo, t2.data_photo,t2.signature
        FROM `article` t1,`user` t2
        where t2.id = #{userId} and t1.user_id = #{userId}
        order by aid desc
    </select>

    <update id="updateUserData" parameterType="com.xbb.pojo.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">username=#{username},</if>
            <if test="head_portrait != null and head_portrait != ''">head_portrait=#{head_portrait},</if>
            <if test="cellphone != null and cellphone != ''">cellphone=#{cellphone},</if>
            <if test="mailbox != null and mailbox != ''">mailbox=#{mailbox},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="theme_photo != null">theme_photo=#{theme_photo},</if>
            <if test="data_photo != null and data_photo != ''">data_photo=#{data_photo},</if>
            <if test="signature != null and signature != ''">signature=#{signature},</if>
            <if test="speciality != null and speciality != ''">speciality=#{speciality},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="FansConutPuls">
        update `user` set fans_count = fans_count+1 where id = #{follow_id}
    </update>
    <update id="FansConutMinus">
        update `user` set fans_count = fans_count-1 where id = #{follow_id}
    </update>

    <update id="originalCountPlus">
        update `user` set original_count = original_count+1 where id = #{userId}
    </update>
    <update id="originalCountMinus">
        update `user` set original_count = original_count-1 where id = #{userId}
    </update>

    <select id="queryIsHeadPortrait" resultType="java.lang.String">
        select head_portrait from `user`
        where id = #{id}
    </select>

    <select id="queryIsThemePhoto" resultType="java.lang.String">
        select theme_photo from `user`
        where id = #{id}
    </select>

    <select id="queryIsDataPhoto" resultType="java.lang.String">
        select data_photo from `user`
        where id = #{id}
    </select>

    <update id="upImgPhoto">
        update `user`
        <set>
            <if test="headPhoto != null">head_portrait = #{headPhoto}</if>
            <if test="themePhoto != null">theme_photo = #{themePhoto}</if>
            <if test="dataPhoto != null">data_photo = #{dataPhoto}</if>
        </set>
        where id = #{id}
    </update>

    <select id="findByIdImgsFile" resultType="java.lang.String">
        select imgs_file_url from `user` where id = #{id}
    </select>

    <update id="upImgsFileUrl">
        update `user` set imgs_file_url = #{imgsFileUrl}
        where id = #{userId}
    </update>
</mapper>

